@use './variables' as *;

.appShellLayout--workspace > .mainLayoutSidebarSplitter {
  height: 100vh;
  max-height: 100vh;
}

.mainLayoutSidebarSplitter {
  .q-splitter__before {
    overflow: hidden;
    z-index: inherit !important;
  }

  .q-splitter__after {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .q-splitter__after > .appShellLayout__pageContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    min-height: 0;
  }

  .q-splitter__after > .appShellLayout__pageContainer > .appShellLayout__pageTransitionHost {
    flex: 1 1 auto;
    min-height: 0;
  }

  &.q-splitter--vertical > .q-splitter__separator > div {
    left: 0;
  }

  .q-splitter__separator {
    background-color: transparent;
    cursor: col-resize;
    z-index: $mainLayout-sidebarSplitterSeparator-zIndex;
  }

  &__panel {
    background-color: $mainLayout-sidebarPanel-backgroundColor;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    user-select: none;
    width: 100%;
  }

  &__panelBody {
    flex: 1 1 auto;
    height: calc(100% - #{$mainLayout-sidebarPanelBodyMarginTopPx});
    margin-top: $mainLayout-sidebarPanelBodyMarginTopPx;
    overflow: hidden auto;
  }
}
