@import '../quasar.variables.scss';

@each $name, $color in $customColors {
  .text-#{$name} {
    color: $color;
  }

  .text-#{$name}-imp {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color;
  }

  .bg-#{$name}-imp {
    background-color: $color !important;
  }
}
