.q-page{
    // Max-height of the window minus the height of the top bar
    max-height: calc(100vh - 50px);
    overflow: auto;
}

.q-card{
  border-radius: $qCard-border-radius;
  box-shadow: none;
  border: $qCard-border-size solid $qCard-border-color;
  background-color: $qCard-background;
  color: $qCard-text;
}
