.dialogProjectMediaMassEditTable {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: $dialogProjectMedia-massEditSave-marginTop;
  min-height: 0;
  min-width: 0;
}

.dialogProjectMediaMassEditTable__table {
  flex: 1 1 auto;
  min-height: 0;
}

.dialogProjectMediaMassEditTable__cellInput {
  min-width: $dialogProjectMedia-massEditCellInput-minWidth;
}

.dialogProjectMediaMassEditTable__save {
  align-self: center;
  flex: 0 0 auto;
}
