// app global css in SCSS form

@import './app/customColors.scss';

* {

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lighten($dark, 40);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($dark, 60);
  }
}

html {
  background-color: #fff;
}

body {
  background-color: rgba($primary, 0.025);
  overflow-y: scroll;

  /* WebKit/Blink Browsers */
  ::selection {
    background: lighten($dark, 30);
    color: white;
  }

  /* Gecko Browsers */
  ::-moz-selection {
    background: lighten($dark, 30);
    color: white;
  }
}

.q-drawer-container * {
  user-select: none !important;
}

.q-toggle__inner {
  width: 100%;
}

.q-toggle__thumb {
  transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.q-toggle__inner--truthy .q-toggle__thumb {
  left: calc(100% - 30px);
}

.tagSelect,
.singleSelect,
.multiSelect,
.singleRelashionshipSelect,
.multiRelashionshipSelect,
.existingDocumentSelect,
.newDocumentSelect {
  &.q-field--dark .q-field__control::before {
    border: 1px solid rgba(0, 0, 0, 0.24);
  }

  .q-field__input,
  .q-icon,
  .q-field__native span {
    color: #000 !important;
  }
}

.tagSelect,
.singleSelect,
.multiSelect,
.singleRelashionshipSelect,
.multiRelashionshipSelect {
  .q-chip {
    height: inherit;

    &--dense {
      padding: 0.2em 0.5em;
    }

    &__content {
      white-space: normal;
      flex-wrap: wrap;
    }

    &__icon--remove {
      margin-right: -0.2em;
      margin-left: 0.2em;
    }
  }
}

.q-menu .q-item {
  transition: none !important;
}

.q-field__control {
  background-color: #fff;
}

.q-position-engine {
  overflow-y: auto !important;
}

.text-underline {
  text-decoration: underline;
}

.q-chip--outline {
  border-style: outset !important;
}

.q-focus-helper {
  background-color: map-get($customColors, 'gunmetal-bright') !important;
}

.q-chip.noBounce {
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 6px;
}

body .q-item--active:not(.noHigh) {
  color: inherit;

  &::after {
    content: "";
    background-color: #d7ac47;
    left: 5px;
    width: 3px;
    top: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
  }

  &::before {
    content: "";
    background-color: #d7ac47;
    right: 5px;
    width: 3px;
    top: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
  }
}

body .q-tooltip {
  background-color: $accent;
  color: $dark;
  font-size: 13px;
  font-weight: 600;
}
