// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #d7ac47;
$secondary :  #f75746;
$accent    : #dde4e4;

$dark      : #18303a;

$positive  : #35a14e;
$negative  : #c10015;
$info      : #6f43b1;
$warning   : #f2c037;

$customColors: (
  'gunmetal': #18303a,
  'gunmetal-light': lighten(#18303a, 7.5),
  'gunmetal-lighter': lighten(#18303a, 10),
  'gunmetal-bright': lighten(#18303a, 50),
  'gunmetal-shine': lighten(#18303a, 60),
  'ruby-red': #f75746,
  'satin-sheen-gold': #e8bb50,
  'satin-sheen-gold-dark': darken(#e8bb50, 12.5),
  'satin-sheen-gold-light': lighten(#e8bb50, 7.5),
  'gainsboro': #dde4e4,
  'cultured': #f5f5f5
);
