@use '../../../../css/app.palette.scss' as *;
@use '../../WindowAppStyling/styles/_variables.scss' as floatingWindowSurface;

/* COMPONENT - WINDOW PROJECT NOTEBOARD */
$windowProjectNoteboard-editorRegion-backgroundColor: fa-v('dark-lighter', $dark-lighter);
$windowProjectNoteboard-textarea-color: var(--fa-content-fields-text-color, #{$content-fields-text-color});
$windowProjectNoteboard-title-margin: floatingWindowSurface.$floatingWindowComponent-title-margin;
$windowProjectNoteboard-titleRow-minHeight: floatingWindowSurface.$floatingWindowComponent-titleRow-minHeight;
