# This is a basic workflow that is manually triggered

name: Build App

# Manually triggered
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of the application being built'
        required: true

jobs:

  # Builds all major OS versions of FA
  build:
    runs-on: ${{ matrix.os }}
    environment: production
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Check out the code
      uses: actions/checkout@v2.3.4

      
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.5
      
    - name: npm install and build
      run: |
        npm install
        npm run build
    
    - name: Upload Linux Artifact
      if: ${{ matrix.os == 'ubuntu-latest' }}
      uses: actions/upload-artifact@v2.2.3
      with:
        # Artifact name
        name: Linux_FA ${{ github.event.inputs.version }}
        path: |
          dist/electron/Packaged/*.snap
          dist/electron/Packaged/*.AppImage
        
    - name: Upload MacOS Artifact
      if: ${{ matrix.os == 'macOS-latest' }}
      uses: actions/upload-artifact@v2.2.3
      with:
        # Artifact name
        name: Mac_FA ${{ github.event.inputs.version }}
        path: dist/electron/Packaged/*.dmg
    
    - name: Upload Windows Artifact
      if: ${{ matrix.os == 'windows-latest' }}
      uses: actions/upload-artifact@v2.2.3
      with:
        # Artifact name
        name: Windows_FA ${{ github.event.inputs.version }}
        path: dist/electron/Packaged/*.exe
    
